{{ 'section-test.css' |  asset_url | stylesheet_tag }}

<section class="test">
    <h1 class="title {{ section.settings.txt-transform }} {% if section.settings.underline %} underline {% else %} none {% endif %}" style=" 
    text-align: {{ section.settings.txt-align }}; color:{{ section.settings.color }}; font-size: {{ section.settings.font-size }}px">{{ section.settings.title }}</h1>
    <h2 class="subtitle">{{ product.selected_or_first_available_variant.metafields.custom.soyunavariante }}</h2>
    {% for variant in product.variants %}
        <div>{{ variant.title }}</div>
    {% endfor %}
    {% for option in variant.options %}
        <p>{{ variant.options.soyunavariante }}: {{ option }}</p>
      {% endfor %}
    <div class="content_image_block">
        {% for block in section.blocks %}
            {% if  block.settings.img_test != blank %}
                <img src="{{ block.settings.img_test | image_url }}" alt="img" class="img-test">
            {% endif %}
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "Test",
    "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default":"Title Here"
            },
            {
                "type": "select",
                "id": "txt-align",
                "label": "Align Text",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ]
            },
            {
                "type": "color",
                "id": "color",
                "label": "Color Text",
                "default": "#000000"
            },
            {
                "type": "range",
                "id": "font-size",
                "label": "Size Text",
                "min": 15,
                "max": 50,
                "step": 1,
                "unit": "px",
                "default": 16
            }, 
            {
                "type": "checkbox",
                "id": "underline",
                "label": "Underline",
                "default": false
            },
            {
                "type": "select",
                "id": "txt-transform",
                "label": "Transform Text",
                "options": [
                    {
                        "value": "txt-transform-uppercase",
                        "label": "Uppercase"
                    },
                    {
                        "value": "txt-transform-capitalize",
                        "label": "Capitalize"
                    },
                    {
                        "value": "txt-transform-lowercase",
                        "label": "Lowercase"
                    }
                    
                ]
            }
        ],
        "blocks": [
            {
                "name": "Images",
                "type": "image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "img_test",
                        "label": "Image"
            
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Test"
            }
        ]
}
{% endschema %}