{% for product in collections[section.settings.nueva_colleccion].products %}
    {%  assign image = product.featured_media.preview_image %}
    <div class="card">

      {% if image != blank %}
        <img src="{{ image | image_url }}" alt="{{product.title}}">
        {% else %}
          {{ 'product-1' |  placeholder_svg_tag: 'card-img-top' }}
      {% endif %}
      <div class="card-body">
        <h3><a class="title" href="{{product.url}}">{{product.title}}</a></h3>
        <p>Price: {{product.price |  money_without_trailing_zeros}}</p>
      </div>
    </div>
  {% endfor %}
<div class="content_image_block">
    {% for block in section.blocks %}
        {% if  block.settings.img_test != blank %}
            <img src="{{ block.settings.img_test | image_url }}" alt="img" class="img-test">
        {% endif %}
    {% endfor %}
</div>

{% schema %}
    {
      "name": "Featured Collections",
      "class": "featured-collections-section",
      "tag": "section",
      "settings": [
        {
          "type": "collection",
          "id": "featured_collection",
          "label": "Select a Collection"
        },
    
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Featured Collection"
        }
        
        ],
        "presets": [
          {
            "name": "Featured Collection v3"
          }
        ]
    }
    {% endschema %}