<div class="product-collection-row">
    <h1>{{ section.settings.title }}</h1>
    <h2>{{ product.metafields.custom.nuevavariante }}</h2>
    {% if collections[section.settings.featured_collection] %}
     {% for product in collections[section.settings.featured_collection].products %}
       {% assign image = product.featured_media.preview_image %}
        <div class="product-card">
        {% if image != blank %}
          <img src="{{ image | image_url: width: 400 }}" alt="{{ product.title | escape }}">
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'product-card-image' }}
        {% endif %}
        <div class="product-card-body">
          <h3><a class="product-title-link" href="{{ product.url | escape }}">{{ product.title | escape }}</a></h3>
          <p class="product-price">Price: {{ product.price | money }}</p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>Collection not found.</p>
  {% endif %}
</div>


{% schema %}
{
  "name": "Featured Collections",
  "class": "featured-collections-section",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Select a Collection"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Collection"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection v"
    }
  ]
}
{% endschema %}
